<p>Most difficult exams:</p>
<div style="display: block">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div style="display: block">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="userChartDatasets"
      [labels]="userChartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="userChartHovered($event)"
      (chartClick)="userChartClicked($event)">
  </canvas>
</div>
<div style="display: block">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="questionChartDatasets"
      [labels]="questionChartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="questionChartHovered($event)"
      (chartClick)="questionChartClicked($event)">
  </canvas>
</div>
