<div class="list-group">
  <button (click)="showHeaderDetails()" class="list-group-item list-group-item-action col-md-3">Exam header details</button>
  <button (click)="showUserGroups()" class="list-group-item list-group-item-action col-md-3">Access</button>
  <button (click)="showQuestions()" type="button" class="list-group-item list-group-item-action col-md-3">Questions</button>
</div>
<div class="details" >
  <div class="tab" *ngIf="IsHeaderTab" id="header">
      <form [formGroup]="examHeaderForm">
          <div class="form-group">
            <label for="title_label">Title:</label>
            <input type="text" class="form-control" formControlName="title" id="title1" [(ngModel)] = "exam.title">
            <div *ngIf="submitted && examHeaderForm.controls.title.errors" class="error">
              <div *ngIf="examHeaderForm.controls.title.errors.required">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="desc">Description:</label>
            <input type="text" class="form-control" formControlName="desc" id="desc1" [(ngModel)] = "exam.description">
            <div *ngIf="submitted && examHeaderForm.controls.desc.errors" class="error">
              <div *ngIf="examHeaderForm.controls.desc.errors.required">Description is required</div>
            </div>
          </div>
          <div class="form-group">
              <label for="fromDate">Date from :</label>
              <input type="text" class="form-control" formControlName="fromDate" id="fromDate1" [(ngModel)] = "date">
              <div *ngIf="submitted && examHeaderForm.controls.fromDate.errors" class="error">
                <div *ngIf="examHeaderForm.controls.fromDate.errors.required">Date from is required</div>
              </div>
          </div>

          <div class="form-group">
              <label for="toDate">Date to:</label>
              <input type="text" class="form-control" formControlName="toDate" id="toDate1" [(ngModel)] = "exam.toDate">
              <div *ngIf="submitted && examHeaderForm.controls.toDate.errors" class="error">
                <div *ngIf="examHeaderForm.controls.toDate.errors.required">Date to is required</div>
              </div>
          </div>
          <div class="form-group">
              <select class="form-control" formControlName="subjectControl" >
                <option value="" disabled>Choose subject</option>
                <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="evaluateType">Evaluate Type:</label>
            <input type="text" class="form-control" formControlName="evaluateType" id="evaluateType1" [(ngModel)] = "exam.evaluateType">
            <div *ngIf="submitted && examHeaderForm.controls.toDate.errors" class="error">
              <div *ngIf="examHeaderForm.controls.evaluateType.errors.required">Evaluate Type to is required</div>
            </div>
          </div>
        </form>

  </div>
  <div class="tab" *ngIf="IsAccessTab" id="access">
    <div  *ngFor="let group of groups" id="UserGroupArea">
      <div class="checkbox checkbox-primary">
        <input id="check" type="checkbox" class="styled" [(ngModel)] = "group.ischecked">
        <label for="check" >{{group.name}}</label>
      </div>
    </div>
  </div>
  <div class="tab" *ngIf="IsQuestionsTab" id="question">
    <app-question-list  [questions]='exam.questions' [isModifiable]='isModifiable' [examid]='exam.id' [ispdfVisible]='toPdfVisible' ></app-question-list>
  </div>
</div>
<button id="saveBtn" type="button" class="btn btn-primary" (click)="saveExam()">Save</button>



