<div *ngIf="IsTeacher">
  <button class="btn btn-sm btn-success button" (click)="createExam()">Create Exam</button>
  <div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped">
         <thead>
         <th>Title</th>
          <th>Description</th>
           <th>Subject</th>
            <th>Status</th>
             <th>Edit</th>
             <th>Release</th>
             <th>Close</th>
             <th>Results</th>
         </thead>
<tbody>

<tr *ngFor="let exam of teacherExams">

<td><span class="badge">{{exam.title}}</span></td>
<td><span class="badge">{{exam.description}}</span></td>
<td><span class="badge">{{exam.subject.name}}</span></td>
<td><span class="badge">{{exam.status.name}}</span></td>
<td><a routerLink="/exam/{{exam.id}}" class="btn btn-primary" role="button">Edit</a></td>
<td> <button (click)="releaseExam(exam)" class="btn btn-primary" role="button">Release</button></td>
<td> <button (click)="closeExam(exam)" class="btn btn-primary" role="button">Close</button></td>
<td><a routerLink="/exam/{{exam.id}}/students" class="btn btn-primary" role="button">Results</a></td>
</tr>
</tbody>
</table>
</div>
</div>
<div *ngIf="IsStudent">
  <div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped">
         <thead>
         <th>Title</th>
          <th>Description</th>
           <th>Subject</th>
            <th>Status</th>
             <th>Start</th>
         </thead>
<tbody>

<tr *ngFor="let exam of studentExams">

<td><span class="badge">{{exam.title}}</span></td>
<td><span class="badge">{{exam.description}}</span></td>
<td><span class="badge">{{exam.subject.name}}</span></td>
<td><span class="badge">{{exam.status.name}}</span></td>
<td><a routerLink="/exam/{{exam.id}}/take" class="btn btn-primary" role="button">Start</a></td>
</tr>
</tbody>
</table>
</div>
</div>
