<form [formGroup]="registForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
  </div>
  <div class="form-group">
    <label for="ConfirmPassword">Confirm password</label>
    <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
    <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.ConfirmPassword.errors.required">ConfirmPassword is required</div>
        <div *ngIf="f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
</div>
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Regist</button>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>
