<div class="table-responsive">
  <table id="mytable" class="table table-bordred table-striped">
       <thead>
        <th>UserName</th>
         <th>PTS</th>
          <th>MaxPont</th>
          <th>Edit</th>
       </thead>
<tbody>
<tr *ngFor="let user of results">
<td><span class="badge">{{user.name}}</span></td>
<td><span class="badge">{{user.ptsSum}}</span></td>
<td><span class="badge">{{user.ptsSum}}</span></td>
<td><a routerLink="/exam/{{examid}}/students/{{user.userID}}" class="btn btn-primary" role="button">Edit</a></td>
</tr>
</tbody>
</table>
</div>
