<!--
<div >
    <select class="form-control" [(NgModel)]='defaultType'>
      <option value="" disabled>Choose question type</option>
      <option *ngFor="let type of questionTypes" [value]="type ">{{type }}</option>
    </select>
</div>
<button (click)="newQuestions()" type="button">New Question</button>
<div *ngIf="viewDeails" class="questionText">
    <input type="text" class="form-control" [(ngModel)] ="selectedQuestion.name" >
</div>
-->
<div *ngIf='toPdfVisible===false'>
<div *ngIf='isModifiable' id="questionTypeArea">
    <select class="form-control" id=questionTypeControl [(ngModel)]="selectedType" >
      <option value="" disabled>Choose question type</option>
      <option *ngFor="let type of questionTypes" [value]="type ">{{QuestionTypes[type] }}</option>
    </select>
</div>

<div class="row">
  <div *ngFor="let question of questions; let i = index">
    <div  class="col" id="QBar" ><span (click)="getSelectedQuestion(question)"  class="border border-primary">{{i+1}}.</span></div>
  </div>
  <div *ngIf='isModifiable' > <span (click)="newQuestions()"  class="border border-primary">New</span></div>
</div>
<div *ngIf="viewDeails" id="details" #details >
  <div *ngIf="anyQuestionIsSelected()"  class="input-group mb-3" id="questionArea">
      <input type="text" class="form-control" [(ngModel)] ="selectedQuestion.name" [disabled]='isModifiable==false' >
      <div class="input-group-append">
          <input id="QuestionValueArea" class="input-group-text" [(ngModel)] ="selectedQuestion.value"  [disabled]='isModifiable==false'>
      </div>
      <div *ngIf='isModifiable' class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="deleteQuestion()" type="button">Delete</button>
      </div>
  </div>
  <div  *ngFor="let answer of selectedQuestion.answers" id="answersArea">
    <div *ngIf='answer.questionType==0' class="input-group mb-3">
      <div  class="input-group-prepend">
        <div class="input-group-text">
          <input  type="checkbox" aria-label="Checkbox for following text input" [(ngModel)] ="answer.isCorrect">
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" [(ngModel)] ="answer.textAnswer" [disabled]='isModifiable==false'>
      <div *ngIf='isModifiable' class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="deleteAnswer(answer)" type="button">Delete</button>
      </div>
    </div>
    <textarea *ngIf='answer.questionType==1' class="form-control" rows="5" id="textAnswer" [(ngModel)] ="answer.textAnswer"></textarea>
    <div *ngIf='answer.questionType==2' class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" [(ngModel)] ="answer.trueOrFalse">
      <label class="custom-control-label" for="defaultChecked2"></label>
      <p></p>
      <br>
    </div>
  </div>
  <div *ngIf='isModifiable && selectedIsChoiceType()' class="AnswerAddArea"><button class="AnswerAdd" (click)="addNewAnswer()">ADD</button> </div>
  <div class="container">
    <div id='buttons' class="row" >
      <div *ngIf='isModifiable==false'><button class="btn btn-outline-primary mr-1" (click)="navigateFinish()">FINISH</button> </div>
    </div>
  </div>
</div>
</div>
<div *ngIf='toPdfVisible' id='toPdf' #toPdf>
  <div *ngFor="let question of questions">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)] ="question.name" disabled>
      <div *ngIf='isModifiable' class="input-group-append">
          <input class="input-group-text" [(ngModel)] ="question.value" >
      </div>
      <div  class="input-group-append">
        <input class="input-group-text" [(ngModel)] ="question.maxValue" disabled>
    </div>
    </div>
    <div  *ngFor="let answer of question.answers" >
      <div *ngIf='answer.questionType==0' class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)] ="answer.isCorrect" disabled>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" [(ngModel)] ="answer.textAnswer" disabled>
      </div>
      <textarea *ngIf='answer.questionType==1' class="form-control" rows="5" id="textAnswer" [(ngModel)] ="answer.textAnswer" disabled></textarea>
      <div *ngIf='answer.questionType==2' class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultChecked2" [(ngModel)] ="answer.trueOrFalse" disabled>
        <label class="custom-control-label" for="defaultChecked2"></label>
      </div>
      <p></p>
      <br>
    </div>
  </div>
</div>
<div *ngIf='toPdfVisible' class="container">
  <div id='buttons' class="row" >
    <div *ngIf='isModifiable==false'><button class="btn btn-outline-primary mr-1" (click)="postSolution()">POST</button> </div>
    <div *ngIf='isModifiable==false'><button class="btn btn-outline-primary" (click)="generatePDF(true)">Generate PDF</button> </div>
    <div *ngIf='isModifiable==false'><button class="btn btn-outline-primary" (click)="navigateBack()">Back</button> </div>
    <div *ngIf='isModifiable'><button class="btn btn-outline-primary" (click)="correctExam()">Correct</button> </div>
  </div>
</div>

