span {
  padding: 25px 25px 25px 25px;
}

#questionArea{
  margin-top: 50px;
  margin-bottom: 20px;
}
#questionTypeArea
{
  margin-top: 50px;
  margin-bottom: 50px;
}

#QBarAdd,QBar {
  padding: 25px 25px 25px 25px;
}

#QuestionValueArea
{
  width: 50px;
}

.AnswerAddArea {
  width: 50px;
  text-align: left;
}

#maxpts,pts {
  width: 10px;
}
