﻿<h1>Admin</h1>
<p>This page can only be accessed by administrators.</p>
<button class="btn btn-sm btn-success button" (click)="createUser()">Create User</button>
<button class="btn btn-sm btn-primary" (click)="editUser()">Edit User</button>
<button class="btn btn-sm btn-danger" (click)="deleteUser()">Delete User</button>
<br><br>
<ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-balham"
    (gridReady)="onGridReady($event)"
    [rowData]="users"
    [columnDefs]="columnDefs"
    rowSelection="single"
    pagination="true"
    paginationPageSize =25
    (selectionChanged)="onSelectionChanged($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (dataChanged)="onrowValueChanged($event)"
    >
</ag-grid-angular>
