<div class="row">
  <div class="col-md-6 col-md-offset-2">
      <h1><span class="badge badge-light" id="header">Add User</span></h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="id_label">ID:</label>
        <input type="text" class="form-control" formControlName="id" id="id1" readonly [(ngModel)] = "user.id">
        <div *ngIf="submitted && userForm.controls.id.errors" class="error">
          <div *ngIf="userForm.controls.id.errors.required">Id is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="email" class="form-control" formControlName="username" id="username1" [(ngModel)] = "user.username">
        <div *ngIf="submitted && userForm.controls.username.errors" class="error">
          <div *ngIf="userForm.controls.username.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
       <select class="form-control" formControlName="roleName" [(ngModel)] = "user.Role">
          <option value="" disabled>Choose role</option>
          <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
       </select>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  <a routerLink="/admin"><button class="btn btn-sm btn-success button">Back</button></a>
</div>
